<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create an Account</title>
  </head>
  <body>
    <header>
      <h1><a href='/'>GOOD GAMES</a></h1>
    </header>
    <div class="new-account">
      <h1 class='new-acct-h1'>create a new account</h1>
      <br/>
      <form action='/users' method='POST'>
        name: <input type='text' name='name' placeholder='name'></input><br/>
        username: <input type='text' name='username' placeholder='username'/> <br/>
        email: <input type='text' name='email' placeholder='your email address'/> <br/>
        img: <input type='url' name='img' placeholder='prof pic' default='https://www.pngitem.com/pimgs/m/24-248366_profile-clipart-generic-user-generic-profile-picture-gender.png'/> <br/>
        <br/>
        genres: <select id='genres' name='genres' multiple>
          <% for (let i=0; i< genres.length; i++) { %>
            <option value=<%=genres[i]%>><%=genres[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        platforms: <select id='platform' name='platforms' multiple>
          <% for (let i=0; i< platforms.length; i++) { %>
            <option value=<%=platforms[i]%>><%=platforms[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        game modes: <select id='game-modes' name='gameModes' multiple>
          <% for (let i=0; i< gameModes.length; i++) { %>
            <option value=<%=gameModes[i]%>><%=gameModes[i]%></option>
          <% } %>
        <br/>
        <input class='submit-new' type='submit' value='create account'/>
      </form>
    </div>
  </body>
</html>
