<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Show user</title>
  </head>
  <body>
    <header>
      <h1>GOOD GAMES</h1>
    </header>
    <div class="show-user">
      <img src='<%=user.img%>' class='show-profpic'></img>
      <h2 class='show-user-h2'>
        <%=user.username%>
      </h2>
      <h3 class='show-user-h3'>
        <%=user.name%>
      </h3>
      <h3 class='show-user-h3'>
        <%=user.email%>
      </h3>
      <br/>
      <h4 class='show-user-h4'>Genres</h4>
      <ul class="genres">
        <% for (let i = 0; i < user.genres.length; i++) { %>
          <li class="genre"><span class="user-genre <%=user.genres[i]%>"><%=user.genres[i]%></span></li>
        <% } %>
      </ul>
      <br/>

      <h4 class='show-user-h4'>Platforms</h4>
      <ul class="platforms">
        <% for (let i = 0; i < user.platforms.length; i++) { %>
          <li class="platform"><span class="user-platform <%=user.platforms[i]%>"><%=user.platforms[i]%></span></li>
        <% } %>
      </ul>
      <br/>

      <h4 class='show-user-h4'>Game Modes</h4>
      <ul class="game-modes">
        <% for (let i = 0; i < user.gameModes.length; i++) { %>
          <li class="game-mode"><span class="game-mode  <%=user.gameModes[i]%>"><%=user.gameModes[i]%></span></li>
        <% } %>
      </ul>
      <br/>

      <h4 class='show-user-h4'>Currently Playing</h4>
      <ul class="currently-playing">
        <% for (let i = 0; i < user.currentlyPlaying.length; i++) { %>
          <li class="current-game"><%=user.currentlyPlaying[i]%></li>
        <% } %>
      </ul>
      <br/>

      <h4 class='show-user-h4'>Played</h4>
      <ul class="past-play">
        <% for (let i = 0; i < user.played.length; i++) { %>
          <li class="played-game"><%=user.played[i]%></li>
        <% } %>
      </ul>
      <br/>

      <h4 class='show-user-h4'>Wants to Play</h4>
      <ul class="will-play">
        <% for (let i = 0; i < user.willPlay.length; i++) { %>
          <li class="future-game"><%=user.willPlay[i]%></li>
        <% } %>
      </ul>
      <br/>

      <button class="edit-btn"><a href="#/edit" class="edit-link">EDIT</a></button>

    </div>
  </body>
</html>
