<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <div class="show-game">
      <h1 class='show-game-h1'><%=game.name%></h1>
      <div class="show-game-sans-title">
        <img class='show-game-img' src='<%=game.img%>'></img>
        <div class="game-details-box">
          <h3 class='game-year'>Released <%=game.year%></h3>
          <h3 class='game-publisher'>publisher: <br/> <%=game.publisher%></h3>
          <h3 class='game-dev'>developer: <br/> <%=game.developer%></h3>
        </div>
        <br/><br/>
        <div class='platform-box'>
          <h4 class='show-h4'>platforms</h4>
          <ul class="platforms">
            <% for (let i = 0; i < game.platforms.length; i++) { %>
              <li class="game-platform"><div class='<%=game.platforms[i]%>'><%=game.platforms[i]%></div></li>
            <% } %>
          </ul>
        </div>
        <br/><br/>
        <div class="genres-box">
          <h4 class='show-h4'>genres</h4>
          <ul class="genres">
            <% for (let i = 0; i < game.genres.length; i++) { %>
              <li class="game-genre"><span class="game-genre <%=game.genres[i]%>"><%=game.genres[i]%></span></li>
            <% } %>
          </ul>
        </div>
        <br/><br/>
        <div class="game-modes-box">
          <h4 class='show-h4'>game Modes</h4>
          <ul class="game-modes">
            <% for (let i = 0; i < game.gameModes.length; i++) { %>
              <li class="game-mode"><span class="game-mode  <%=game.gameModes[i]%>"><%=game.gameModes[i]%></span></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
    <div class="edit-game">
      <form class="edit-game-form" action='/games/<%=game._id%>?_method=PUT' method='POST'>
        name: <input type='text' name='name' value='<%=game.name%>'/>
        <br/><br/>
        img: <input type='url' name='img' value='<%=game.img%>'/>
        <br/><br/>
        year: <input type='text' name='year' value='<%=game.year%>'/>
        <br/><br/>
        publisher:<input type='text' name='publisher' value='<%=game.publisher%>'/>
        <br/><br/>
        developer:<input type='text' name='developer' value='<%=game.developer%>'/>
        <br/><br/>
        platforms: <select id='platforms' name='platforms' value='<%=game.platforms%>' multiple>
          <% for (let i=0; i< platforms.length; i++) { %>
            <option value=<%=platforms[i]%>><%=platforms[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        genres: <select id='genres' name='genres' value='<%=game.genres%>' multiple>
          <% for (let i=0; i< genres.length; i++) { %>
            <option value=<%=genres[i]%>><%=genres[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        game modes: <select id='game-modes' name='gameModes' value='<%=game.gameModes%>' multiple>
          <% for (let i=0; i< gameModes.length; i++) { %>
            <option value=<%=gameModes[i]%>><%=gameModes[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        <input class='edit-game-btn' type='submit' value='Edit Game'/>
      </form>
    </div>

  </body>
</html>
