<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <div class="show-game">
      <h1 class='show-game-h1'><%=game.name%></h1>
      <img class='show-game-img' src='<%=game.img%>'></img>
      <h3 class='game-year'><%=game.year%></h3>
      <br/>
      <h3 class='game-publisher'>publisher: <%=game.publisher%></h3>
      <h3 class='game-dev'>developer: <%=game.developer%></h3>
      <br/><br/>
      <h4 class='show-h4'>Platforms</h4>
      <ul class="platforms">
        <% for (let i = 0; i < game.platforms.length; i++) { %>
          <li class="game-platform"><span class="game-platform <%=game.platforms[i]%>"><%=game.platforms[i]%></span></li>
        <% } %>
      </ul>
      <br/><br/>
      <h4 class='show-h4'>Genres</h4>
      <ul class="genres">
        <% for (let i = 0; i < game.genres.length; i++) { %>
          <li class="game-genre"><span class="game-genre <%=game.genres[i]%>"><%=game.genres[i]%></span></li>
        <% } %>
      </ul>
      <br/><br/>
      <h3 class='creative-lead'>creative lead:<%=game.creativeLead%></h3>

      <h4 class='show-h4'>Game Modes</h4>
      <ul class="game-modes">
        <% for (let i = 0; i < game.gameModes.length; i++) { %>
          <li class="game-mode"><span class="game-mode  <%=game.gameModes[i]%>"><%=game.gameModes[i]%></span></li>
        <% } %>
      </ul>
      <br/><br/>
    </div>
    <div class="edit-game">
      <form action='/games/<%=game._id%>?_method=PUT' method='POST'>
        name: <input type='text' name='name' value='<%=game.name%>'/> <br/>
        img: <input type='url' name='img' value='<%=game.img%>'/> <br/>
        year: <input type='text' name='year' value='<%=game.year%>'/> <br/>
        publisher:<input type='text' name='publisher' value='<%=game.publisher%>'/>
        <br/><br/>
        developer:<input type='text' name='developer' value='<%=game.developer%>'/>
        <br/><br/>
        platforms: <select id='platforms' name='platforms' value='<%=game.platforms%>' multiple>
          <% for (let i=0; i< platforms.length; i++) { %>
            <option value=<%=platforms[i]%>><%=platforms[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        genres: <select id='genres' name='genres' value='<%=game.genres%>' multiple>
          <% for (let i=0; i< genres.length; i++) { %>
            <option value=<%=genres[i]%>><%=genres[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        creative lead:<input type='text' name='creativeLead' value='<%=game.creativeLead%>'/>
        <br/><br/>
        game modes: <select id='game-modes' name='gameModes' value='<%=game.gameModes%>' multiple>
          <% for (let i=0; i< gameModes.length; i++) { %>
            <option value=<%=gameModes[i]%>><%=gameModes[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        <input class='edit-game' type='submit' value='Edit Game'/>
      </form>
    </div>

  </body>
</html>
