<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
    <link rel="stylesheet" href="/app.css">
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

    <container class="all-games container">
      <% for (let g = 0; g<games.length; g++) { %>
        <div class="games-index">
          <div class='game-index-img-box'>
            <a href="/games/<%=games[g]._id%>">
              <img class='game-index-img' src='<%=games[g].img%>'></img>
            </a>
          </div>
          <h2 class='game-index-name'><a href="/games/<%=games[g]._id%>" class="name-a">
            <%=games[g].name%>
          </a></h2>
          <br/>
          <% if (isAdmin == true) { %>
            <form class="delete-btn" action="/games/<%=games[g]._id%>?_method=DELETE" method='POST'>
              <input type='submit' value='DELETE' class='delete'/>
            </form>
          <% } %>
        </div>
      <% } %>
    </container>
  </body>
</html>
