<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <container class="all-games">
      <% for (let i = 0; i<games.length; i++) { %>
        <div class="games-index">
          <div class='game-index-img-box'>
            <a href="/games/<%=games[i]._id%>">
              <img class='game-index-img' src='<%=games[i].img%>'></img>
            </a>
          </div>
          <h2 class='game-index-name'><a href="/games/<%=games[i]._id%>" class="name-a">
            <%=games[i].name%>
          </a></h2>
          <br/>
          <% if (currentUser.isAdmin === true) { %>
            <form class="delete-btn" action="/games/<%=games[i]._id%>?_method=DELETE" method='POST'>
              <input type='submit' value='DELETE' class='delete'/>
            </form>
          <% } %>
        </div>
      <% } %>
    </container>
  </body>
</html>
