<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>show game</title>
  </head>
  <body>
    <header>
      <h1>GOOD GAMES</h1>
    </header>
    <div class="game-show">
      <img src='<%=game.img%>' class='show-img'></img>
      <h2 class='show-h2'><%=game.name%></h2>
      <h3 class='show-h3'>#<%=game.year%></h3>
      <br/>
      <h4 class='show-h4'>Genres</h4>
      <ul class="types">
        <% for (let i = 0; i < pokemon.type.length; i++) { %>
          <li class="poke-type"><span class="poke-type-span <%=pokemon.type[i]%>"><%=pokemon.type[i]%></span></li>
        <% } %>
      </ul>
      <br/>
      <h4 class='show-h4'>Pokemon Stats</h4>
      <ul class="stats">
        <li class="stat">hp: <%=pokemon.stats.hp%></li>
        <li class="stat">attack: <%=pokemon.stats.attack%></li>
        <li class="stat">defense: <%=pokemon.stats.defense%></li>
        <li class="stat">spattack: <%=pokemon.stats.spattack%></li>
        <li class="stat">spdefense: <%=pokemon.stats.spdefense%></li>
        <li class="stat">speed: <%=pokemon.stats.speed%></li>
      </ul>
    </div>
  </body>
</html>
