<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <div class="show-game">
      <h1 class='show-game-h1'><%=game.name%></h1>
      <div class="show-game-sans-title">
        <img class='show-game-img' src='<%=game.img%>'></img>
        <div class="game-details-box">
          <h3 class='game-year'>Released <%=game.year%></h3>
          <h3 class='game-publisher'>publisher: <br/> <%=game.publisher%></h3>
          <h3 class='game-dev'>developer: <br/> <%=game.developer%></h3>
        </div>
        <br/><br/>
        <div class='platform-box'>
          <h4 class='show-h4'>platforms</h4>
          <ul class="platforms">
            <% for (let i = 0; i < game.platforms.length; i++) { %>
              <li class="game-platform"><div class='<%=game.platforms[i]%>'><%=game.platforms[i]%></div></li>
            <% } %>
          </ul>
        </div>
        <br/><br/>
        <div class="genres-box">
          <h4 class='show-h4'>genres</h4>
          <ul class="genres">
            <% for (let i = 0; i < game.genres.length; i++) { %>
              <li class="game-genre"><span class="game-genre <%=game.genres[i]%>"><%=game.genres[i]%></span></li>
            <% } %>
          </ul>
        </div>
        <br/><br/>
        <div class="game-modes-box">
          <h4 class='show-h4'>game Modes</h4>
          <ul class="game-modes">
            <% for (let i = 0; i < game.gameModes.length; i++) { %>
              <li class="game-mode"><span class="game-mode  <%=game.gameModes[i]%>"><%=game.gameModes[i]%></span></li>
            <% } %>
          </ul>
        </div>
        <br/>
        <% if (currentUser.isAdmin === 'true') { %>
          <div class="routes">
            <section class="edit-btn">
              <a class="edit-a" href="/games/<%=game._id%>/edit">Edit</a>
            </section>
            <br/>
            <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
              <input type="submit" value="X"/>
            </form>
          </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
