<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <header>
      <h1><a href="/">GOOD GAMES</a></h1>
    </header>
    <div class="show-game">
      <h1 class='show-game-h1'><%=game.name%></h1>
      <img class='show-game-img' src='<%=game.img%>'></img>
      <h3 class='game-year'><%=game.year%></h3>
      <br/>
      <h3 class='game-publisher'>publisher: <%=game.publisher%></h3>
      <h3 class='game-dev'>developer: <%=game.developer%></h3>
      <br/><br/>
      <h4 class='show-h4'>Platforms</h4>
      <ul class="platforms">
        <% for (let i = 0; i < game.platforms.length; i++) { %>
          <li class="game-platform"><span class="game-platform <%=game.platforms[i]%>"><%=game.platforms[i]%></span></li>
        <% } %>
      </ul>
      <br/><br/>
      <h4 class='show-h4'>Genres</h4>
      <ul class="genres">
        <% for (let i = 0; i < game.genres.length; i++) { %>
          <li class="game-genre"><span class="game-genre <%=game.genres[i]%>"><%=game.genres[i]%></span></li>
        <% } %>
      </ul>
      <br/><br/>
      <h3 class='creative-lead'>creative lead:<%=game.creativeLead%></h3>

      <h4 class='show-h4'>Game Modes</h4>
      <ul class="game-modes">
        <% for (let i = 0; i < game.gameModes.length; i++) { %>
          <li class="game-mode"><span class="game-mode  <%=game.gameModes[i]%>"><%=game.gameModes[i]%></span></li>
        <% } %>
      </ul>
      <br/>
      <section>
        <a href="/games/<%=game._id%>/edit">Edit</a>
      </section>
      <br/>
      <form action="/games/<%=game._id%>?_method=DELETE" method="POST">
        <input type="submit" value="Delete Game"/>
      </form>
    </div>
  </body>
</html>
