<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <div class="profile-details container">
      <h3 class="prof-page">Welcome back, <%=user.username%>.</h3>
      <div class="show-profile-sans-title container">
        <div class="prof-pic-box box">
          <img class="prof-pic" src='<%=user.img%>'></img>
        </div>

        <div class="personal-details box">
          <h3 class="username"><%=user.username%></h3>
          <h3 class="prof-name">Name: <%=user.name%></h3>
          <h5 class="email">Email:<br/> <%=user.email%> </h5>

        </div>
        <div class="user-platforms box">
          <h4 class='show-h4'>Platforms</h4>
          <ul class="platforms">
            <% for (let i = 0; i < user.platforms.length; i++) { %>
              <li class="owned-platform"><span class="owned-platform <%=user.platforms[i]%>"><%=user.platforms[i]%></span></li>
            <% } %>
          </ul>
        </div>
        <div class="user-genres box">
          <h4 class='show-h4'>Genres</h4>
          <ul class="genres">
            <% for (let i = 0; i < user.genres.length; i++) { %>
              <li class="user-genre"><span class="game-genre <%=user.genres[i]%>"><%=user.genres[i]%></span></li>
            <% } %>
          </ul>
        </div>
        <div class="user-game-modes box">
          <h4 class='show-h4'>Game Modes</h4>
          <ul class="game-modes">
            <% for (let i = 0; i < user.gameModes.length; i++) { %>
              <li class="user-gmode"><span class="user-gmode <%=user.gameModes[i]%>"><%=user.gameModes[i]%></span></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
      <div class="edit-profile">
        <form action='/users/<%=user._id%>?_method=PUT' method='POST'>
          <div class="main-user-edits">
            <h4 class="show-h4">Name:</h3>
            <input type='text' name='name' value='<%=user.name%>'/> <br/>
            <h4 class="show-h4">profile picture:</h3>
            <input type='url' name='img' value='<%=user.img%>'/>
            <br/>
            <h4 class="show-h4">Email:</h5>
            <input type='text' name='email' value='<%=user.email%>'/>
            <br/>
          </div>
          <div class='edit-platforms'>
            <h4 class='show-h4'>Platforms</h4>
            <br/>
            <select id='platforms' name='platforms' value='<%=user.platforms%>' multiple>
              <% for (let i=0; i< platforms.length; i++) { %>
                <option value=<%=platforms[i]%>><%=platforms[i]%></option>
              <% } %>
            </select>
          </div>
          <br/><br/>
          <div class="edit-user-genres">
            <h4 class='show-h4'>Genres</h4>
            <br/>
            <select id='genres' name='genres' value='<%=user.genres%>' multiple>
              <% for (let i=0; i< genres.length; i++) { %>
                <option value=<%=genres[i]%>><%=genres[i]%></option>
              <% } %>
            </select>
          </div>
          <br/><br/>
          <div class="edit-user-gamemodes">
            <h4 class='show-h4'>Game Modes</h4>
            <br/>
            <select id='game-modes' name='gameModes' value='<%=user.gameModes%>' multiple>
              <% for (let i=0; i< gameModes.length; i++) { %>
                <option value=<%=gameModes[i]%>><%=gameModes[i]%></option>
              <% } %>
            </select>
          </div>
          <br/><br/>
          <input class='edit-profile' type='submit' value='Edit Profile'/>
        </form>
      </div>

  </body>

</html>
