<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <container class="my-games container">
      <% for (let g = 0; g< games.length; g++) { %>
        <div class="games-index">
          <div class='game-index-img-box'>
            <a href="/games/<%=games[g]._id%>">
              <img class='game-index-img' src='<%=games[g].img%>'></img>
            </a>
          </div>
          <h2 class='game-index-name'><a href="/games/<%=games[g]._id%>" class="name-a">
            <%=games[g].name%>
          </a></h2>
          <br/>
        </div>
      <% } %>
    </container>
  </body>
</html>
