<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>
    <div class="new-user">
      <h1 class='create-account'>create a profile</h1>

      <form class='new-user-form' action='/users' method="POST">
        name: <input type='text' name='name' placeholder='your name'/> <br/>
        username: <input type='text' name='username' placeholder='username'/> <br/>
        password: <input type='password' name='password'/> <br/>
        email: <input type='text' name='email' placeholder='email'/> <br/>
        img:<input id="text" type="img" name='img' value='https://i.stack.imgur.com/IHLNO.jpg' placeholder='profile picture'/>
        <br/><br/>
        favorite genres: <select id='genres' name='genres' multiple>
          <% for (let i=0; i< genres.length; i++) { %>
            <option value=<%=genres[i]%>><%=genres[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        platforms: <select id='platforms' name='platforms' multiple>
          <% for (let i=0; i< platforms.length; i++) { %>
            <option value=<%=platforms[i]%>><%=platforms[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        game modes: <select id='game-modes' name='gameModes' multiple>
          <% for (let i=0; i< gameModes.length; i++) { %>
            <option value=<%=gameModes[i]%>><%=gameModes[i]%></option>
          <% } %>
        </select>
        <br/><br/>
        currently playing: <select id='current-games' name='currentlyPlaying' multiple>
          <% for (let i=0; i< games.length; i++) { %>
            <option value='<%=games[i]._id%>'><%=games[i].name%></option>
          <% } %>
        </select>
        <input class='submit-new' type='submit' value='create account'/>
      </form>
    </div>
  </body>
</html>
