<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <header>
      <%- include('../partials/header.ejs') %>
    </header>

      <div class="profile-details">
        <h3 class="prof-page">Welcome back, <%=user.username%>.</h3>
        <div class="prof-pic-box">
          <img class="prof-pic" src='<%=user.img%>'></img>
        </div>

        <div class="personal-details">
          <h3 class="username"><%=user.username%></h3>
          <h3 class="prof-name">Name: <%=user.name%></h3>
          <h5 class="email">Email: <%=user.email%> </h5>
        </div>

        <div class="user-preferences">
          <h4 class='show-h4'>Platforms</h4>
          <ul class="platforms">
            <% for (let i = 0; i < user.platforms.length; i++) { %>
              <li class="owned-platform"><span class="owned-platform <%=user.platforms[i]%>"><%=user.platforms[i]%></span></li>
            <% } %>
          </ul>

          <h4 class='show-h4'>Genres</h4>
          <ul class="genres">
            <% for (let i = 0; i < user.genres.length; i++) { %>
              <li class="user-genre"><span class="game-genre <%=user.genres[i]%>"><%=user.genres[i]%></span></li>
            <% } %>
          </ul>

          <h4 class='show-h4'>Game Modes</h4>
          <ul class="game-modes">
            <% for (let i = 0; i < user.gameModes.length; i++) { %>
              <li class="user-gmode"><span class="user-gmode <%=user.gameModes[i]%>"><%=user.gameModes[i]%></span></li>
            <% } %>
          </ul>
        </div>
        <br/><br/>
        <section>
          <a class="edit-btn edit-a" href="/users/<%=user._id%>/edit">Edit Profile</a>
        </section>
        <br/>
        <form action="/users/<%=user._id%>?_method=DELETE" method="POST">
          <input class='delete-user' type="submit" value="Delete Account"/>
      </div>
  </body>

</html>
